In [1]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List1 : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 4,3,2,1
List1 :  ['4', '3', '2', '1']
Tuple :  ('4', '3', '2', '1')

In [2]:
def remove_nums(int_list):
  #list starts with 0 index
  position = 3 - 1 
  idx = 0
  len_list = (len(int_list))
  while len_list>0:
    idx = (position+idx)%len_list
    print(int_list.pop(idx))
    len_list -= 1
nums = [34,45,54,23,12,15,78,67,76]
remove_nums(nums)

54
15
76
23
67
12
45
78
34

In [3]:
def test_distinct(data):
  if len(data) == len(set(data)):
    return True
  else:
    return False;
print(test_distinct([1,2,4,8]))
print(test_distinct([2,3,4,4,9,1]))

True
False

In [4]:
pi= 3.14
r = float(input ("input the radius of the circle:"))
area= pi*r*r
print("the area of the circle with radius " +str(r) + "is:%.2f"%area)

input the radius of the circle:3
the area of the circle with radius 3.0is:28.26